@model iMMAP.iMPROVE.Models.ViewModels.ErrorViewModel
@{
    string tag = string.IsNullOrEmpty(Model.Tag) ? "" : Model.Tag;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iMPROVE | iMMAP PROducts catalog and VErsion control</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Theme style -->
    @Styles.Render("~/dashboard/css")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            background: #222d32 !important;
            color: #fff;
        }
    </style>
</head>
<body class="hold-transition skin-red login-page">
    <section id="view-container">

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow"> 404</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! @tag.ToUpper() not found.</h3>
                    <p>
                        We could not find the @tag you were looking for.
                    </p>
                    <p>
                        @Model.Message
                    </p>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </section>
</body>

<!-- jQuery 2.2.3 -->
@Scripts.Render("~/bundles/jquery")
<!-- Bootstrap 3.3.6 -->
@Scripts.Render("~/bundles/bootstrap")

</html>